/* 
- Weights: 300, 400, 500

- Font size: 18px || card titles

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    width: 375px;
    height: 100%;
    margin: auto;
    background-color: hsl(226, 43%, 10%);
}

.container{
    color: white;
    width: 300px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-content: center; */
    padding: 20px;
    gap: 10px;
}

.top{
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px 10px;
}

.user{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    background-color:hsl(246, 80%, 60%) ;
}

.info{
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.info> p{
    font-size: 10px;
}

.info> h4{
    font-weight:300;
}

.candidate> img{
    border: 1.6px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.time{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.time> button{
    background-color: transparent;
    color:hsl(236, 100%, 87%);
    cursor: pointer;
    border: none;
    font-size: 12px;
}

button:hover{
    color: white;
}


#subject{
    font-size: 12px;
}

#now{
    font-size: 16px;
}

.lw{
    font-size: 10px;
    margin-top: 5px;
    color:hsl(236, 100%, 87%);
}

.play> div{
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.study> div{
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exercise> div{
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social> div{
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sc> div{
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title, .title2, .title3, .title4, .title5, .title6{
    overflow: hidden;
    border-radius: 10px 10px;
    height: 78px;
    display: flex;
    flex-direction:column;
    background-color: hsl(15, 100%, 70%);
}

.image{
    width: 40px;
    height: 40px;
    margin-left: 80%;
    position: relative;
    bottom: 6px;
}

.title2{
    display: flex;
    flex-direction: column;
    background-color: hsl(195, 74%, 62%);
}

.title3{
    display: flex;
    flex-direction: column;
    background-color:hsl(348, 100%, 68%) ;
}

.title4{
    display: flex;
    flex-direction: column;
    background-color: hsl(145, 58%, 55%);
}

.title5{
    display: flex;
    flex-direction: column;
    background-color: hsl(264, 64%, 52%);
}

.title6{
    display: flex;
    flex-direction: column;
    background-color: hsl(43, 84%, 65%);
}

.daily{
    position: relative;
    top: -22px;
    height: 70px;
    border-radius: 10px;
    padding: 20px;
    background-color: hsl(235, 46%, 20%);
}

.subject, .output{
    /* gap: 6px; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.icon-ellipsis{
    cursor: pointer;
    width: 10px;
    height: 3px;
    /* border-radius: 50%; */
}

.icon-ellipsis:hover{
    color: white;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}